@using UTIL.Objetos;
@{
    ViewBag.Title = "AgregarFamilia";
    List<ObjetoFamilia> ListaFamilia = ViewBag.ListadoFamilia;
}

<script src="~/WebJs/Productos/Productos.js"></script>

<div class="panel panel-inverse table-responsive">
    <div class="panel-heading">
        <h4 class="panel-title">Listado Familia</h4>
        <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
        </div>

    </div>
    <div class="table-responsive">
        @{
            var grid = new WebGrid(ListaFamilia, canPage: false);
        }
        @grid.GetHtml(
        htmlAttributes: new { id = "dataTable" },
        tableStyle: "table",
        columns:
        grid.Columns(
    grid.Column(columnName: "IdFamilia", header: "IdFamilia", format: @<text>@item.Id</text>),
             grid.Column(columnName: "Familia", header: "Familia", format: @<text>@item.Familia</text>),
                     grid.Column(columnName: "Editar", header: "Editar", format: @<button class="btn btn-warning btn-m" data-toggle="modal" data-target="#modalEditarUsuario" onclick="ObtenerDatosUsuario(@item.id)">
                        <span class="fas fa-pencil-alt fa-fw"></span>
                    </button>),
                             grid.Column(columnName: "Eliminar", header: "Eliminar", format: @<button class="btn btn-@Html.Raw(item.Estado == 1 ? "danger":"success")" type="button" tooltip="@Html.Raw(item.Estado == 1 ? "Deshabilitar":"Habilitar")"
                                                                                                      onclick="EliminarUsuario(@item.id,@item.Estado, @Html.Raw(item.Estado == 1 ? "false":"true"))">
                                @Html.Raw(item.Estado == 1 ? "Deshabilitar" : "Habilitar")
                            </button>)))
    </div>
</div>


